# Android SDK 路径配置
#
# 方式 1: 使用环境变量（推荐）
# 在 ~/.zshrc 或 ~/.bashrc 中设置 ANDROID_HOME
#
# 方式 2: 直接配置路径
# 取消下面一行的注释，并修改为你的 Android SDK 路径
#
# macOS 默认路径:
# sdk.dir=/Users/你的用户名/Library/Android/sdk
#
# Linux 默认路径:
# sdk.dir=/home/你的用户名/Android/Sdk
#
# Windows 默认路径:
# sdk.dir=C:\\Users\\你的用户名\\AppData\\Local\\Android\\Sdk
#
# 注意: 此文件已在 .gitignore 中，不会被提交到 Git
