<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application>
        <activity
            android:name="com.impos2.posadapter.turbomodules.connector.channels.ResultBridgeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false" />
        <activity
            android:name="com.impos2.posadapter.turbomodules.connector.channels.CameraScanActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.impos2.posadapter.action.CAMERA_SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
